*{
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    padding: 0;
   
    list-style-type: none;
    text-decoration: none;
}

nav{
    display: flex;
    justify-content: space-between;
    height: 7vh;
    align-items: center;
    padding: 30px 50px;
    background-color: #fff;
}
.form {
    width: 40%;
    display: flex;
    justify-content: space-around;
}
.form li a{
    color: black;
    font-size: 17px;
    font-weight: 600;
}
.logo h1{
    color: #52b765;
    font-size: 32px;
}
.logo h1 span{
    color: #000;
}
.shopping_flex{
    width: 24%;
    display: flex;
    justify-content: space-around;
}
.icons .fa{
    font-size: 22px;
    margin-top: 10px;
    margin-right: 20px;

}
.schedule h2{
    font-size: 20px;
    background-color:  #52b765;
    padding: 10px 15px;
    color: #fff;
    letter-spacing: 1px;
}
.burger{
    display: none;

}
.burger div{
    width: 25px;
    height: 3px;
    margin: 5px;
    transition: 0.3s;
    background-color: black;
}

.banner_flex{
    display: flex;
    align-items: center;
}

.primary_banner{
    background: linear-gradient(rgba(0, 0, 0, 0.4),rgba(0,0,0,0.4)), url(images/img\ 1.jpg)no-repeat;
    height: 90vh;
    width: 50%;
    background-position: center;
    background-size: cover;
    align-items: center;
    text-align: center;
    object-fit: cover;
}
.primary_banner1{
    background:  linear-gradient(rgba(0, 0, 0, 0.4),rgba(0,0,0,0.4)), url(images/img\ 2.jpg)no-repeat;
    height: 90vh;
    width: 50%;
    text-align: center;
    background-position: center;
    background-size: cover;
}

.primary_banner h1,.primary_banner1 h1{
    font-size: 45px;
    line-height: 64px;
    color: #fff;
    margin: 0;
    margin-top: 200px;
    margin-bottom: 10px;
    font-family: Poppins,sans-serif;
    font-weight: 600;
    text-align: center;
}
.primary_banner p,.primary_banner1 p{
    color: #fff;
    font-size: 18px;
    line-height: 26px;
}
.primary_banner button,.primary_banner1 button{
    background-color: #52b765;
    border: 1px solid transparent;
    padding: 10px 20px;
    font-size: 17px;
    color: #fff;
    font-weight: 800;
    margin-top: 30px;
}

    /* =====>
    Secondary Section
    ==========<*/

.experience_mobile{
    display: none;
}
.secondary{
    display: flex;
    justify-content: space-between;
    padding: 100px 70px;
}
.exp{
    position: relative;
}

.experience_desktop{
    width: 42%;
}
.material-icons-outlined{
    margin: 0 auto;
    width: 70px;
    text-align: center;
    height: 70px;
    padding-top: 20px;
    font-size: 30px;
    border-radius: 50%;
    background-color: #52b765;
    color: #fff;
}

.experience_desktop p,.experience_mobile p{
    color: #52b765;
    font-weight: 600;
    font-size: 17px;
    letter-spacing: 1px;
    padding-bottom: 10px;
}

.experience_desktop h1,.experience_mobile h1{
    font-size: 32px;
    padding-bottom: 10px;
}

.experience_desktop h5,.experience_mobile h5{
    color: #7b7b7b;
    font-size: 17px;
    font-weight: 400;
    line-height: 25px;
    padding-top: 10px;
}


.customers_list{
    display: flex;
    margin-top: 50px;

}
.customers_list ul li{
    font-size: 17px;
    color: #7b7b7b;
    line-height: 32px;
    margin-right: 10px;
}
.customers_list ul li::before{
  content: "\f00c";
  font-family: "fontAwesome";
  color: #52b765;
  padding-right: 15px;
}
.phone_number{
    align-items: center;
    text-align: center;
    padding-left: 30px;
    border-left: 1px solid #fff;
}
.phone_number .fa{
    color: #52b765;
    font-size: 25px;
    text-align: center;
    background-color: rgb(255, 255, 255);
    height: 50px;
    width: 50px;
    margin-bottom: 20px;
    padding-top: 15px;
    border-radius: 50%;
    font-weight: 600;
    margin-top: 5px;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
}
.phone_number h4{
    color: #7b7b7b;
    font-size: 17px;
    font-weight: 400;

}
.phone_number h4 span{
    font-size: 20px;
    color: #000;
    font-weight: 700;
}

/* ======>
Tertiary
=========<*/
.tertiary{
    display: flex;
    align-items: center;
    /* text-align: center; */
    margin: 0 50px;
    overflow-x: hidden;
    /* padding: 30px 60px; */
    justify-content: center;
}
.wrap,.wrap1,.wrap2{
    background-color: rgb(255, 255, 255);
    width: 30%;
    margin: 20px 0;
    padding: 40px 20px;
    height: auto;
    
    box-shadow: 0 10px 23px rgb(157 174 185 / 15%);
    padding-bottom: 40px;
}

.note h1::before{
    content: "\f0e7";
    font-size: 30px;
    font-family: "FontAwesome";
    color: #52b765;
    margin-right: 15px;
}
.note1 h1::before{
    content: "\f1f1";
    font-size: 30px;
    font-family: "FontAwesome";
    color: #52b765;
    margin-top: 20px;
    font-weight: 500;
    margin-left: 15px;
    margin-right: 15px;
}
.note2 h1::before{
    content: "\f299";
    font-size: 30px;
    font-family: "FontAwesome";
    color: #52b765;
    margin-top: 50px;
    margin-left: 40px;
    margin-right: 20px;
}
.note h1,.note1 h1,.note2 h1{
    font-size: 20px;
    font-weight: 700;
    padding-bottom: 10px;
}
.note p,.note1 p,.note2 p{
    font-size: 15px;
    margin-left: 30px;
    color: #7b7b7b;
    max-width: 300px;
}

 
.tilt_child{
    text-align: center;
    margin: 100px 30px auto;
    margin-bottom: 20px;
}
.tilt_child p{
    color: #52b765;
    letter-spacing: 2px;
    margin-bottom: 10px;
    font-size: 20px;
    font-weight: 600;
}
.tilt_child h1{
    font-size: 35px;
    letter-spacing: 1px;
    font-weight: 600;
    color: #323232;
}
.carousel{
    width: 80%;
    display: flex;
    margin: 0 9px;
}
.service_section{
    background: linear-gradient(rgba(0, 0, 0, 0.0),rgba(0, 0, 0, 0.6)),url(images/Polish\ Shoes.jpg);
    margin-left: 10px;
    margin-right: 10px;
    padding: 22px 15px;
    height: auto;
    object-fit: cover;
    margin-bottom: 50px;
    align-items: center;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    /* max-width: 1200px; */
}

.man1{
    background-repeat: no-repeat;
    background: linear-gradient(rgba(0,0,0,0.0),rgba(0,0,0,0.8)),url(images/Repair\ Steaches.jpg);
}
.man2{
    background-repeat: no-repeat;
    background: linear-gradient(rgba(0,0,0,0.0),rgba(0,0,0,0.8)),url(images/Carpet.jpg);
}
.man3{
    background-repeat: no-repeat;
    background: linear-gradient(rgba(0,0,0,0.0),rgba(0,0,0,0.8)),url(images/ironing.jpg);
}
.service_icon{
    margin-right: 20px;
}
.this_man{
    display: flex;
    margin-top: 170px;
   
}
.this_man h4{
    color: #fff;
    font-size: 22px;
}
.this_man p{
    color: #fff;
    font-size: 17px;
}

.owl-dots{
    text-align: center;
    margin-top: 20px;
}
.owl-dot{
    outline: 0;
    width: 15px;
    height: 15px;
    margin-left: 20px;
    background-color: #7b7b7b !important;
    border-radius: 50%;
    cursor: pointer;
}
.owl-dot:hover{
    background-color: #52b765 !important;
}







/* ========================
 ALL FOCUS UPON SELECTION
=========================== */
.body:active{
    background-color: whitesmoke;
    border: none;
    outline: none;
}
.burger:active{
    outline: 0;
    border: 0;
    background-color: white;
}
::selection{
    background: transparent;
}











/* ================
MEDIA QUARY FOR 540
====================*/
@media(max-width:414px){
    nav{
        padding: 0 27px;
    }
    .logo h1{
        color: #52b765;
        font-size: 25px;
        line-height: 0;
    }
    .logo h1 span{
        display: none;
    }
    .logo h1::after{
        content: "Laundry";
        margin-left: 122px;
        color: black;
    }

    .form li a{
        color: #fff;
    }
    


}




/* ================
MEDIA QUARY FOR 800
====================*/
@media(max-width:992px){
  
    .burger{
        display: block;
        cursor: pointer;
    }
    .shopping_flex{
        display: none;
    }
    .form{
        display: none;
    }
    .form{
        position: absolute;
        display: flex;
        top: 7vh;
        right: 0;
        width: 40%;
        height: auto;
        padding-bottom: 20px;
        padding-top: 20px;
        background-color: #52b765;
        flex-direction: column;
        align-items: center;
        display: none;
        justify-content: center;
        transition: transform 0.5s;
    }
    .form li {
        opacity: 0;
        margin: 7px 0px 12px 30px;
       
    }
    .form li a{
        color: #fff;
        letter-spacing: 1px;
        font-size: 20px;
        font-weight: 700;
    }
    .burger-active{
        display: block;
    }
    .primary_banner{
        background: blur(3px), url(images/img\ 1.jpg)no-repeat;
        height: 70vh;
        width: 100%;
        background-position: center;
        background-size: cover;
        align-items: center;
        text-align: center;
        object-fit: cover;
    }
    .primary_banner h1{
        font-size: 40px;
        margin-top: 150px;
    }
    .primary_banner1{
        display: none;
    }



    /* =====>
Secondary Section
==========<*/
  .secondary{
    display: block;
    flex-direction: row;
    justify-content: space-between;
    padding: 50px 15px;
    }
    .experience_mobile{
        display: block;
    }
    .exp img{
        width: 100%;
    }

    .experience_desktop h1,.experience_desktop p{
        display: none;
    }
    .num_circle{
        position: absolute;
        left: 63%;
        background-color: #52b765;
        height: 127px;
        width: 127px;
        position: absolute;
        text-align: center;
        color: #fff;
        align-items: center;
        border-radius: 50%;
        margin-top: -35%;
        z-index: 2;
    }

    .num_circle p{
        font-size: 37px;
        margin-top: 32px;
        line-height: 20px;
        font-weight: 800;
    }
    .num_circle p span{
        font-size: 14px;
        line-height: 10px;
        font-weight: 600;
    }
    .experience_desktop{
        width: 100%;
    }
    .customers_list{
        display: block;
    }
    .phone_number{
        display: flex;
        align-items: center;
        text-align: center;
        padding-left: 0px;
        padding-top: 40px;
        border-left: 1px solid transparent;
    }
    .phone_number .fa{
        margin-right: 10px;
        margin-top: 20px;
        margin-left: 50px;   
    }
    .customers_list ul li {
        font-size: 17px;
        color: #7b7b7b;
        line-height: 32px;
        padding-left: 20px;
    }


    .tertiary{
        display: flex; 
       
        overflow-x: hidden;
        flex-direction: row;
        margin: 20px auto;
        justify-content: space-between;
    }
    .wrap1{
        background-color: #fff;
        width: 90%;
        padding: 40px 15px;
        height: auto;
        display: none;
        margin: 0 auto;
        box-shadow: 0 10px 23px rgb(157 174 185 / 15%);
        padding-bottom: 40px;
    }
    .wrap2{
        background-color: #fff;
        width: 90%;
        padding: 40px 15px;
        height: auto;
        display: none;
        margin: 0 auto;
        box-shadow: 0 10px 23px rgb(157 174 185 / 15%);
        padding-bottom: 40px;
    }
    .wrap{
        background-color: #fff;
        width: 90%;
        /* display: none; */
        padding: 40px 15px;
        height: auto;
        margin: 0 auto;
        box-shadow: 0 10px 23px rgb(157 174 185 / 15%);
        padding-bottom: 40px;
    }
    .note{
        /* width: 320px; */
        height: auto;
        padding: 0 30px;
        padding-bottom: 20px;
    }
    .note h1{
        font-size: 20px;
    }
    .slides{
        overflow:hidden;
        animation-name:fade;
        animation-duration:2s;
        display: none;
        transition: 2s;
    }
    #dot{
        text-align: center;
        margin: 0 auto;
    }
    .dot{
        display:inline-block;
        border-radius:50%;
        background: #7b7b7b;
        padding:8px;
        margin:10px 5px;
    }
    .current{
        background:#52b765;
    }

    /* .carousel{
        display: flex;
    } */
    .tilt_child h1 {
        font-size: 25px;
        letter-spacing: 1px;
        font-weight: 600;
        color: #323232;
    }
    .this_man{
        display: flex;
        margin-top: 150px;
       
    }
    .this_man h4{
        color: #fff;
        font-size: 20px;
    }
    .this_man p{
        color: #fff;
        font-size: 15px;
    
    }
    .carousel{
        max-width: 95%;
    }
    /* .service_section{
        margin: 0 10px;
    } */
}











/* ================
MEDIA QUARY FOR 992px
====================*/

@media(min-width: 992px){
    .num_circle{
        position: absolute;
        left: 42%;
        background-color: #52b765;
        height: 142px;
        width: 142px;
        position: absolute;
        text-align: center;
        color: #fff;
        align-items: center;
        border-radius: 50%;
        margin-top: 25%;
        z-index: 2;
    }
    
    .num_circle p{
        font-size: 45px;
        margin-top: 32px;
        line-height: 20px;
        font-weight: 800;
    }
    .num_circle p span{
        font-size: 17px;
        line-height: 10px;
        font-weight: 600;
    }
}





@keyframes navLinkFade{
    from{
        opacity: 0;
        transform: translateX(50px);
    }
    to{
        opacity: 1;
        transform: translateX(0px);
    }
}

.toggle .line1{
    transform: rotate(-45deg) translate(-5px,6px);
}
.toggle .line2{
    opacity: 0;
    transition: 0.3s;
}
.toggle .line3{
    transform: rotate(45deg) translate(-5px,-6px);
}


@keyframes fade{
    from{
      transform: translateX(100%);
    }
    to{
      transform: translateX(0%);
    }
  }