*{
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    padding: 0;
   
    list-style-type: none;
    text-decoration: none;
}
html{
    scroll-behavior: smooth;
}
nav{
    display: flex;
    justify-content: space-between;
    height: 7vh;
    align-items: center;
    padding: 30px 50px;
    background-color: #fff;
}
.form {
    width: 40%;
    display: flex;
    justify-content: space-around;
}
.form li a{
    color: black;
    font-size: 17px;
    font-weight: 600;
}
.logo h1{
    color: #52b765;
    font-size: 32px;
}
.logo h1 span{
    color: #000;
}
.shopping_flex{
    width: 24%;
    display: flex;
    justify-content: space-around;
}
.icons .fa{
    font-size: 22px;
    margin-top: 10px;
    margin-right: 20px;

}
.schedule h2{
    font-size: 20px;
    background-color:  #52b765;
    padding: 10px 15px;
    color: #fff;
    letter-spacing: 1px;
}
.burger{
    display: none;

}
.burger div{
    width: 25px;
    height: 3px;
    margin: 5px;
    transition: 0.3s;
    background-color: black;
}

.banner_flex{
    display: flex;
    align-items: center;
}

.primary_banner{
    background: linear-gradient(rgba(0, 0, 0, 0.4),rgba(0,0,0,0.4)), url(images/img\ 1.jpg)no-repeat;
    height: 90vh;
    width: 50%;
    background-position: center;
    background-size: cover;
    align-items: center;
    text-align: center;
    object-fit: cover;
}
.primary_banner1{
    background:  linear-gradient(rgba(0, 0, 0, 0.4),rgba(0,0,0,0.4)), url(images/img\ 2.jpg)no-repeat;
    height: 90vh;
    width: 50%;
    text-align: center;
    background-position: center;
    background-size: cover;
}

.primary_banner h1,.primary_banner1 h1{
    font-size: 45px;
    line-height: 64px;
    color: #fff;
    margin: 0;
    margin-top: 200px;
    margin-bottom: 10px;
    font-family: Poppins,sans-serif;
    font-weight: 600;
    text-align: center;
}
.primary_banner p,.primary_banner1 p{
    color: #fff;
    font-size: 18px;
    line-height: 26px;
}
.primary_banner button,.primary_banner1 button{
    background-color: #52b765;
    border: 1px solid transparent;
    padding: 10px 20px;
    font-size: 17px;
    color: #fff;
    font-weight: 800;
    margin-top: 30px;
}

    /* =====>
    Secondary Section
    ==========<*/

.experience_mobile{
    display: none;
}
.secondary{
    display: flex;
    justify-content: space-between;
    padding: 100px 70px;
}
.exp{
    position: relative;
}

.experience_desktop{
    width: 42%;
}
.material-icons-outlined{
    margin: 0 auto;
    width: 70px;
    text-align: center;
    height: 70px;
    padding-top: 20px;
    font-size: 30px;
    border-radius: 50%;
    background-color: #52b765;
    color: #fff;
}

.experience_desktop p,.experience_mobile p{
    color: #52b765;
    font-weight: 600;
    font-size: 17px;
    letter-spacing: 1px;
    padding-bottom: 10px;
}

.experience_desktop h1,.experience_mobile h1{
    font-size: 32px;
    padding-bottom: 10px;
}

.experience_desktop h5,.experience_mobile h5{
    color: #7b7b7b;
    font-size: 17px;
    font-weight: 400;
    line-height: 30px;
    padding-top: 10px;
}


.customers_list{
    display: flex;
    margin-top: 50px;

}
.customers_list ul li{
    font-size: 17px;
    color: #7b7b7b;
    line-height: 32px;
    margin-right: 10px;
}
.customers_list ul li::before{
  content: "\f00c";
  font-family: "fontAwesome";
  color: #52b765;
  padding-right: 15px;
}
.phone_number{
    align-items: center;
    text-align: center;
    padding-left: 30px;
    border-left: 1px solid #fff;
}
.phone_number .fa{
    color: #52b765;
    font-size: 25px;
    text-align: center;
    background-color: rgb(255, 255, 255);
    height: 50px;
    width: 50px;
    margin-bottom: 20px;
    padding-top: 15px;
    border-radius: 50%;
    font-weight: 600;
    margin-top: 5px;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
}
.phone_number h4{
    color: #7b7b7b;
    font-size: 17px;
    font-weight: 400;

}
.phone_number h4 span{
    font-size: 20px;
    color: #000;
    font-weight: 700;
}

/* ======>
Tertiary
=========<*/
.tertiary{
    display: flex;
    align-items: center;
    /* text-align: center; */
    margin: 0 50px;
    overflow-x: hidden;
    /* padding: 30px 60px; */
    justify-content: center;
}
.wrap,.wrap1,.wrap2{
    background-color: rgb(255, 255, 255);
    width: 30%;
    margin: 20px 0;
    padding: 40px 20px;
    height: auto;
    
    box-shadow: 0 10px 23px rgb(157 174 185 / 15%);
    padding-bottom: 40px;
}

.note h1::before{
    content: "\f0e7";
    font-size: 30px;
    font-family: "FontAwesome";
    color: #52b765;
    margin-right: 15px;
}
.note1 h1::before{
    content: "\f1f1";
    font-size: 30px;
    font-family: "FontAwesome";
    color: #52b765;
    margin-top: 20px;
    font-weight: 500;
    margin-left: 15px;
    margin-right: 15px;
}
.note2 h1::before{
    content: "\f299";
    font-size: 30px;
    font-family: "FontAwesome";
    color: #52b765;
    margin-top: 50px;
    margin-left: 40px;
    margin-right: 20px;
}
.note h1,.note1 h1,.note2 h1{
    font-size: 20px;
    font-weight: 700;
    padding-bottom: 10px;
}
.note p,.note1 p,.note2 p{
    font-size: 15px;
    margin-left: 30px;
    color: #7b7b7b;
    max-width: 300px;
}

 
.tilt_child{
    text-align: center;
    margin: 100px 30px auto;
    margin-bottom: 20px;
}
.tilt_child p{
    color: #52b765;
    letter-spacing: 2px;
    margin-bottom: 10px;
    font-size: 20px;
    font-weight: 600;
}
.tilt_child h1{
    font-size: 35px;
    letter-spacing: 1px;
    font-weight: 600;
    color: #323232;
}

.carousel{
    width: 80%;
    display: flex;
    margin: 0 9px;
}
.service_section{
    background: linear-gradient(rgba(0, 0, 0, 0.0),rgba(0, 0, 0, 0.6)),url(images/Polish\ Shoes.jpg);
    margin-left: 10px;
    margin-right: 10px;
    padding: 22px 15px;
    height: auto;
    object-fit: cover;
    margin-bottom: 50px;
    align-items: center;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    /* max-width: 1200px; */
}

.man1{
    background-repeat: no-repeat;
    background: linear-gradient(rgba(0,0,0,0.0),rgba(0,0,0,0.8)),url(images/Repair\ Steaches.jpg);
}
.man2{
    background-repeat: no-repeat;
    background: linear-gradient(rgba(0,0,0,0.0),rgba(0,0,0,0.8)),url(images/Carpet.jpg);
}
.man3{
    background-repeat: no-repeat;
    background: linear-gradient(rgba(0,0,0,0.0),rgba(0,0,0,0.8)),url(images/ironing.jpg);
}
.service_icon{
    margin-right: 20px;
}
.this_man{
    display: flex;
    margin-top: 170px;
   
}
.this_man h4{
    color: #fff;
    font-size: 22px;
}
.this_man p{
    color: #fff;
    font-size: 17px;
}

.owl-dots{
    text-align: center;
    
}
.owl-dot{
    outline: 0;
    width: 15px;
    height: 15px;
    margin: 20px 10px;
    background-color: #e2e2e2 !important;
    border-radius: 50%;
    cursor: pointer;
}
.owl-dot:hover{
    background-color: #52b765 !important;
}



/* =======
CONTAINER
==========*/
.container{
    padding: 0 100px;
}
.note-on-Delivery{
    width: 40%;
}
.note-on-Delivery p{
    font-size: 20px;
    color: #52b765;
    font-weight: 600;
    padding-top: 60px;
}
.note-on-Delivery h2{
    font-size: 38px;
    font-weight: 700;
    margin: 20px 0;
}
.note-on-Delivery h5{
    font-size: 17px;
    color: #7b7b7b;
    font-weight: 500;
    line-height: 1.8em;
}
.note-on-Delivery button{
    padding: 10px 17px;
    background-color: #52b765;
    color: #fff;
    margin-top: 30px;
    font-weight: 600;
    border: 1px solid transparent;
}

.box{
    display: flex;
    justify-content: space-between;
    /* flex-wrap: wrap; */
}
.short_clip{
    width: 50%;
}
.big-number-circle{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-line-pack: start;
    align-content: flex-start;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    position: relative;
    background-color: #fff;
    width: 430px;
    height: 430px;
    border: 13px solid #f1f4f1;
    border-radius: 50%;
    margin-top: 50px;
    margin-bottom: 50px;
    -webkit-box-shadow: 0 10px 18px rgb(241 241 241 / 75%);
    box-shadow: 0 10px 18px rgb(241 241 241 / 75%);
    padding: 46px 0 0 0;
}
.circle-img{
    position: absolute;
    display: flex;
    justify-content: space-between;
}
.circle-img img{
    width: 55%;
    top: -25px;
    object-fit: cover;
    position: absolute;
    margin-left: -40px;
}
.zombie{
    display: none;
}
.big-number-circle strong{
    font-size: 120px;
    top: 4px;
    position: absolute;
    left: 35%;
    color: #f1f4f1; 
}
.Pck {
    margin-right: -30px;
    margin-left: 200px;
}
.Pck h3{
    font-size: 20px;

}
.Pck h3 span{
    color: #52b765;
}
.Pck p{
    color: #7b7b7b;
    font-weight: 500;
    line-height: 1.5em;
}
.switch{
    margin: 0 30px;
    text-align: center;
}
.progress-container{
    display: flex;
    justify-content: center;
    justify-content: space-between;
    position: relative;
    text-align: center;
    width: 0%;
    align-items: center;
    cursor: pointer;
    z-index: -1;
    transition: 0.4s ease;
    max-width: 100%;
    width: 650px;
}
.progress-container::before{
    content: '';
    border: 2px solid #999;
    position: absolute;
    top: 50%;
    left: 0;
    align-items: center;
    transform: translateY(-50%);
    /* height: 4px; */
    width: 92%;
    z-index: -1;
}
.progress {
    border: 2px solid #52b765;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    height: 4px;
    align-items: center;
    z-index: -1;
    transition: 0.5s ease;
}

.circle {
    background-color: #fff;
    color: #999;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    display: flex;
    align-items: center;
    cursor: pointer;
    justify-content: space-between;
    justify-content: center;
    border: 3px solid #999;
    transition: 0.5s ease;
}
.circle.on{
    background-color: #52b765;
    border: 2px solid #e2e2e2;
    color: #fff;
}
.switch-class{
    text-align: center;
}

.switch-class button{
    height: 20px;
    width: 20px;
    margin: 20px 10px;
    border-radius: 50%;
    border: 1px solid transparent;
    cursor: pointer;
    background-color: #e2e2e2;
    transition: 0.3s;
}
.switch-class button:hover{
    background-color: #52b765;
}

.machine3 img{
    width: 100%;
    object-fit: cover;
}
.washing-machine{
    margin: 80px 0;
}

.content-upon-washing-machine{
    background-color: #fff;
    padding: 20px 20px;
    height: auto;
    padding-bottom: 10px;
    z-index: 2;
}
.content-upon-washing-machine p{
    color: #52b765;
    font-size: 17px;
    margin-bottom: 10px;
    font-weight: 600;
}
.content-upon-washing-machine h1{
    color: #323232;
    font-size: 32px;
    margin-bottom: 10px;
    font-weight: 800;
}
.content-upon-washing-machine h5{
    color: #999;
    font-size: 19px;
    font-weight: 400;
    line-height: 32px;
    margin-bottom: 20px;
}
.col-list ul li{
    color: #999;
    font-size: 20px;
    font-weight: 400;
    line-height: 35px;
}
.col-list ul li::before{
    content: "\f00c";
    font-family: "fontAwesome";
    color: #52b765;
    padding-right: 15px;
}
.first-head{
    text-align: center;
}
.first-head p{
    font-size: 20px;
    color: #52b765;
    font-weight: 600;
    letter-spacing: 1px;
    padding-bottom: 10px;
}
.first-head h1{
    font-size: 25px;
    font-weight: 700;
    padding-bottom: 10px;
}
.fancy-button,.fancy-button1,.fancy-button2{
   padding: 10px 15px;
   font-size: 18px;
   font-weight: 600;
   background-color: #fff;
   width: 100%;
   color: #323232;
   cursor: pointer;
   margin: 10px 0;
   border: 1px solid transparent;
   transition: 0.4s;
   box-shadow: 0 10px 23px rgb(157 174 185 / 15%);
}
.fancy-button:hover,.fancy-button1:hover,.fancy-button2:hover{
    color: #52b765;
}

.play-box{
    font-size: 30px;
    background-color: #52b765;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 52%;
    cursor: pointer;
    text-align: center;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    box-shadow: rgb(52 134 85 / 80%) 5px 13px 38px;
    transform: translate(-50%,-50%);
}
.play-box::before{
    content: "\f04b";
    font-family: "fontAwesome";
    color: #fff;
    top: 50%;
    left: 50%;
    font-size: 20px;
    transform: translate(-50%,-50%);
    position: absolute;
    text-align: center;
    box-shadow: 0 10px 23px rgb(157 174 185 / 15%);
}

.our-approach-div h2{
    color: #323232;
    font-size: 35px;
    margin-top: 30px;
}
.our-approach-div p{
    color: #999;
    font-size: 17px;
    font-weight: 400;
    line-height: 32px;
    margin-bottom: 20px;
}
p{
    color: #7b7b7b;
    font-size: 17px;
    font-weight: 400;
    line-height: 30px;
    margin-bottom: 20px;
}
.video{
    position: relative;
}
.video img{
    width: 100%;
    height: 200px;
    object-fit: cover;
}
.emphasis{
    display: flex;
}
.tag,.tag1,.tag2{
    width: 50px;
    min-width: 50px;
    height: 50px;
    margin-right: 20px;
    position: relative;
    box-shadow: 0 10px 20px rgb(0 0 0 / 6%);
    background-color: #fff;
    border-radius: 50%;
}
.tag::before{
    content: "\f0a3";
    font-family: "fontAwesome";
    color:#52b765;
    top: 50%;
    left: 50%;
    font-size: 22px;
    transform: translate(-50%,-50%);
    position: absolute;
    text-align: center;
    box-shadow: 0 10px 23px rgb(157 174 185 / 15%);
}
.tag1::before{
    content: "\f06b";
    font-family: "fontAwesome";
    color:#52b765;
    top: 50%;
    left: 50%;
    font-size: 22px;
    transform: translate(-50%,-50%);
    position: absolute;
    text-align: center;
    box-shadow: 0 10px 23px rgb(157 174 185 / 15%);
}
.tag2::before{
    content: "\f2b5";
    font-family: "fontAwesome";
    color:#52b765;
    top: 50%;
    left: 50%;
    font-size: 22px;
    transform: translate(-50%,-50%);
    position: absolute;
    text-align: center;
    box-shadow: 0 10px 23px rgb(157 174 185 / 15%);
}
.videoPlayer{
    width: 90%;
    top: 50%;
    display: none;
    position: absolute;
    left: 50%;
    transform: translate(-50%,-50%);
}
.videoPlayer img{
    width: 10%;
}
video{
    width: 100%;
    height: 200px;
}
video:focus{
    outline: none;
}
.emp-wrap h4{
    font-size: 20px;
    margin-top: 5px;
    margin-bottom: 5px;
}
.emp-parent{
    margin: 30px 0;
}
.close-btn{
    position: absolute;
    top: 10px;
    right: 10px;
    width: 30px;
}
.toggle-img--FAQ{
    margin: 30px 0;
}
/* .toggle-on-click{
    display: none;
} */

.toggle-img img{
    width: 100%;
    object-fit: cover;
}
.wrap-both-q-a{
    background-color: #fdfefe;
    border: 2px solid #f1f4f1;
    padding: 5px 20px;
    margin: 10px 0;
}
.first-question,.first-question1,.first-question2,.first-question3{
    display: flex;
    justify-content: space-between;
}
.FAQ h2 {
    margin-top: 30px;
    color: #323232;
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 15px;
}
.first-question,.first-question1,.first-question2{
    cursor: pointer;
}
.first-question h3,.first-question1 h3,.first-question2 h3,.first-question3 h3{
    font-size: 17px;
    font-weight: 600;
    color: #323232;
    transition: 0.5s;
    padding: 17px 20px 15px 0;
}
.first-question:hover,.first-question1:hover,.first-question2:hover,.first-question3:hover{
    color: #52b765;
}
p.first-answer1,p.first-answer2,p.first-answer3{
    display: none;
    font-size: 15px;
    color: #000;
    margin-top: 10px;
}
p.first-answer{
    font-size: 15px;
    color: #000;
    margin-top: 10px;
    margin-top: 10px;
}
.first-question .fa,.first-question1 .fa,.first-question2 .fa,.first-question3 .fa{
    margin-top: 30px;
}
.toggle-img--FAQ{
    display: none;
}
.replace-plus .material-icons-outlined{
    background-color: #fdfefe;
    color: #000;
    display: none;
    vertical-align: middle;
}
.why-choose-us{
    margin-top: 50px;
}
.why-choose p{
    margin-bottom: 30px;
}
.why-choose h4{
    font-size: 28px;
    line-height: 38px;
    font-family: Poppins,sans-serif;
    color: #323232;
    font-weight: 600;
    margin: 0;
    padding: 0 0 10px 0;
}
.value-experience h4{
    font-size: 23px;
    line-height: 30px;
    font-family: Poppins,sans-serif;
    color: #323232;
    font-weight: 600;
    margin: 0;
    padding: 0 0 10px 0;
}
.why-choose-us{
    display: none;
}
.hover-prize{
    text-align: center;
}
.hover-prize p{
    margin-top: 50px;
    margin-bottom: 5px;
    color: #52b765;
    font-size: 18px;
    font-weight: 600;
}
.hover-prize h3{
    color: #323232;
    font-size: 25px;
    font-weight: 600;
}
.hover-prize h6{
    color: #999;
    font-size: 16px;
    font-weight: 500;
    line-height: 25px;
}

.price-tag-container{
   
    box-shadow: 0 10px 20px rgb(157 174 185 / 15%);
}
.price-tag-container img{
    width: 100px;
}
.price-tag-container h2{
    font-size: 20px;
    margin-top: 20px;
}
.price-tag-container p{
    font-size: 17px;
    font-weight: 500;
    margin-top: 10px;
    color: #7b7b7b;
}
.price-tag-container h4{
    font-size: 28px;
    color: #52b765;
}
.delivery-bus{
    margin-top: 50px;
}
.delivery-bus img{
    object-fit: cover;
    width: 100%;
}
.bus-info{
    text-align: center;
    align-items: center;
}
.bus-info h3{
    font-size: 24px;
    line-height: 30px;
    margin: 21px 0 0 0;
    padding-bottom: 17px;
    font-weight: 600;
    color: #323232;
}
.bus-info h1{
    font-size: 23px;
    color: #323232;
    margin-top: 20px;
}
.bus-info p{
    font-size: 16px;
    color: #7b7b7b;
}
.bus-info h3 span{
    color: #52b765;
}


/* ========================
 ALL FOCUS UPON SELECTION
=========================== */
.body:focus{
    background-color: whitesmoke;
    border: none;
    outline: none;
}
.fancy-button:focus,.fancy-button1:focus,.fancy-button2:focus{
    color: white;
    background-color: #52b765;
}
.burger:active{
    outline: 0;
    border: 0;
    background-color: white;
}
::selection{
    background: transparent;
}





/* ====================================================================================================== */


/* ================
MEDIA QUARY FOR 540
====================*/
/* @media(max-width:600px){
    .machine3 img{
        display: none;
    }
} */


/* ================
MEDIA QUARY FOR 540
====================*/
@media(max-width:660px){
    nav{
        padding: 0 27px;
    }
    .logo h1{
        color: #52b765;
        font-size: 25px;
        line-height: 0;
    }
    .logo h1 span{
        display: none;
    }
    .logo h1::after{
        content: "Laundry";
        margin-left: 122px;
        color: black;
    }

    .form li a{
        color: #fff;
    }
    .big-number-circle{
        margin-top: 50px;
        width: 280px;
        height: 280px;
        margin-left: 20px;
    }
    .Pck {
        margin-right: -12px;
        margin-left: 130px;
    }
    .short_clip {
        width: 100%;
    }
    .circle{
        height: 35px;
        width: 35px;
    }
}




/* ==========================
MEDIA QUARY FOR MAX-WIDTH 768px
============================*/


@media(max-width:768px){
    .burger{
        display: block;
        cursor: pointer;
    }
    .shopping_flex{
        display: none;
    }
    .form{
        display: none;
    }
    .form{
        position: absolute;
        display: flex;
        top: 7vh;
        right: 0;
        width: 40%;
        height: auto;
        padding-bottom: 20px;
        padding-top: 20px;
        background-color: #52b765;
        flex-direction: column;
        align-items: center;
        display: none;
        justify-content: center;
        transition: transform 0.5s;
    }
    .form li {
        opacity: 0;
        margin: 7px 0px 12px 30px;
       
    }
    .form li a{
        color: #fff;
        letter-spacing: 1px;
        font-size: 20px;
        font-weight: 700;
    }
    .burger-active{
        display: block;
    }
    .primary_banner{
        background: blur(3px), url(images/img\ 1.jpg)no-repeat;
        height: 70vh;
        width: 100%;
        background-position: center;
        background-size: cover;
        align-items: center;
        text-align: center;
        object-fit: cover;
    }
    .primary_banner h1{
        font-size: 40px;
        margin-top: 150px;
    }
    .primary_banner1{
        display: none;
    }
    p.first-answer{
        display: none;
    }


    /* =====>
Secondary Section
==========<*/
  .secondary{
    display: block;
    flex-direction: row;
    justify-content: space-between;
    padding: 50px 15px;
    }
    .experience_mobile{
        display: block;
    }
    .exp img{
        width: 100%;
    }

    .experience_desktop h1,.experience_desktop p{
        display: none;
    }
    .num_circle{
        position: absolute;
        left: 63%;
        background-color: #52b765;
        height: 127px;
        width: 127px;
        position: absolute;
        text-align: center;
        color: #fff;
        align-items: center;
        border-radius: 50%;
        margin-top: -35%;
        z-index: 2;
    }

    .num_circle p{
        font-size: 37px;
        margin-top: 32px;
        line-height: 20px;
        font-weight: 800;
    }
    .num_circle p span{
        font-size: 14px;
        line-height: 10px;
        font-weight: 600;
    }
    .experience_desktop{
        width: 100%;
    }
    .customers_list{
        display: block;
    }
    .phone_number{
        display: flex;
        align-items: center;
        text-align: center;
        padding-left: 0px;
        padding-top: 40px;
        border-left: 1px solid transparent;
    }
    .phone_number .fa{
        margin-right: 10px;
        margin-top: 20px;
        margin-left: 50px;   
    }
    .customers_list ul li {
        font-size: 17px;
        color: #7b7b7b;
        line-height: 32px;
        padding-left: 20px;
    }


    .tertiary{
        display: flex; 
       
        overflow-x: hidden;
        flex-direction: row;
        margin: 20px auto;
        justify-content: space-between;
    }
    .wrap1{
        background-color: #fff;
        width: 90%;
        padding: 40px 15px;
        height: auto;
        display: none;
        margin: 0 auto;
        box-shadow: 0 10px 23px rgb(157 174 185 / 15%);
        padding-bottom: 40px;
    }
    .wrap2{
        background-color: #fff;
        width: 90%;
        padding: 40px 15px;
        height: auto;
        display: none;
        margin: 0 auto;
        box-shadow: 0 10px 23px rgb(157 174 185 / 15%);
        padding-bottom: 40px;
    }
    .wrap{
        background-color: #fff;
        width: 90%;
        /* display: none; */
        padding: 40px 15px;
        height: auto;
        margin: 0 auto;
        box-shadow: 0 10px 23px rgb(157 174 185 / 15%);
        padding-bottom: 40px;
    }
    .note{
        /* width: 320px; */
        height: auto;
        padding: 0 30px;
        padding-bottom: 20px;
    }
    .note h1{
        font-size: 20px;
    }
    .slides{
        overflow:hidden;
        animation-name:fade;
        animation-duration:2s;
        display: none;
        transition: 2s;
    }
    #dot{
        text-align: center;
        margin: 0 auto;
    }
    .dot{
        display:inline-block;
        border-radius:50%;
        background: #7b7b7b;
        padding:8px;
        margin:10px 5px;
    }
    .current{
        background:#52b765;
    }

    /* .carousel{
        display: flex;
    } */
    .tilt_child h1 {
        font-size: 25px;
        letter-spacing: 1px;
        font-weight: 600;
        color: #323232;
    }
    .this_man{
        display: flex;
        margin-top: 150px;
       
    }
    .this_man h4{
        color: #fff;
        font-size: 20px;
    }
    .this_man p{
        color: #fff;
        font-size: 15px;
    }
    .carousel{
        max-width: 95%;
    }
    .service_section{
        margin: 20px 0;
    }
    .owl-dot{
        width: 10px;
        height: 10px;
    }
    .container{
        padding: 0 15px;
    }
    .box{
        display: block;
        
    }
    .note-on-Delivery{
        width: 100%;
    }
    .big-number-circle{
        margin-top: 50px;
        margin-left: 20px;
        width: 320px;
        height: 320px;
    }
    .switch-class button{
        height: 15px;
        width: 15px;
    }
    .machine img{
        width: 100%;
    }
    .play-box{
        box-shadow: rgb(52 134 85 / 80%) 5px 13px 38px;
        width: 60px;
        height: 60px;
    }
    .play-box::before{
        font-size: 22px;
    }
    .toggle-img img{
        height: 40vh;
    }
}

/* ================================================================================================== */

/* ===========================
MEDIA QUARY FOR MIN-WIDTH 768px
==============================*/

@media(min-width: 768px){
    .box{
        display: flex;
    }
    .exp img{
        width: 60%;
    }
    .primary_banner,.primary_banner1{
        height: 50vh;
    }
    .Pck {
        margin-right: -30px;
        margin-left: 125px;
    }
    .big-number-circle {
        margin-top: 150px;
    }
    .content-upon-washing-machine{
        background-color: #fff;
        padding: 60px 70px;
        width: 60%;
        /* height: auto;
        padding-bottom: 20px; */
        margin-top: 40px;
        right: 2px;
        position: absolute;
        padding-bottom: 10px;
    }
    .content-upon-washing-machine p{
        color: #52b765;
        font-size: 17px;
        margin-bottom: 10px;
        font-weight: 600;
    }
    .content-upon-washing-machine h1{
        color: #323232;
        font-size: 32px;
        margin-bottom: 10px;
        font-weight: 800;
    }
    .content-upon-washing-machine h5{
        color: #999;
        font-size: 19px;
        font-weight: 400;
        line-height: 32px;
        margin-bottom: 20px;
    }
    .col-list ul li{
        color: #999;
        font-size: 20px;
        font-weight: 400;
        line-height: 35px;
    }
    .col-list{
        display: flex;
        justify-content: space-around;
    }
    .washing-machine{
        display: flex;
        margin: 50px 0;
    }
    .machine{
        position: relative;
        width: 50%;
        height: 100vh;
    }
    .machine img{
        height: 100vh;
        width: 100%;
        padding-bottom: 20px;
        object-fit: cover;
    }
    .click-event img{
        object-fit: cover;
        width: 100%;
    }
    .the-switch-button{
        display: flex;
    }
    .first-head p{
        font-size: 22px;
        color: #52b765;
        font-weight: 600;
        letter-spacing: 1px;
        padding-bottom: 10px;
    }
    .first-head h1{
        font-size: 35px;
        font-weight: 700;
        padding-bottom: 30px;
    }
    .fancy-button,.fancy-button1,.fancy-button2{
        padding: 20px 20px;
        font-size: 20px;
        font-weight: 600;
        cursor: pointer;
        background-color: #fff;
        width: 100%;
        margin: 10px 0;
        border: 1px solid transparent;
        box-shadow: 0 10px 23px rgb(157 174 185 / 15%);
    }
    .emp-parent{
        padding: 10px 20px;
        display: flex;
        justify-content: space-between;
    }
    .emphasis{
        width: 70%;
    }
    .emphasis p{
        width: 90%;
    }
    .toggle-img{
        display: flex;
        
    }
    .FAQ{
        width: 50%;
        margin-left: 50px;
    }
    .FAQ h2{
        margin-top: 0;
    }
    .toggle-img img{
        width: 40%;
        height: 40vh;
    }
    .first-question h3{
        font-size: 17px;
        padding: 17px 20px 15px 0;
        min-width: 100px;
    }
    .first-question .fa,.first-question1 .fa,.first-question2 .fa,.first-question3 .fa{
        margin-top: 20px;
       
    }
    .delivery-bus{
        margin-top: 150px;
        display: flex;
        flex-direction: row-reverse;
    }
    .delivery-bus img{
        object-fit: cover;
        width: 100%;
        max-width: 400px;
    }
    .bus-info{
        text-align: right;
        text-align: center;
        align-items: center;
    }
    .bus-info h3{
        font-size: 24px;
        line-height: 30px;
        margin: 21px 0 0 0;
        padding-bottom: 17px;
        font-weight: 600;
        color: #323232;
    }
    .bus-info h1{
        font-size: 23px;
        color: #323232;
        margin-top: 20px;
    }
    .bus-info p{
        font-size: 16px;
        color: #7b7b7b;
    }
    .bus-info h3 span{
        color: #52b765;
    }
}


/* ================================================================================================ */



/* =======================
MEDIA QUARY FOR MIN-WIDTH 924px 
==========================*/


@media(min-width: 924px){
    .num_circle{
        position: absolute;
        left: 42%;
        background-color: #52b765;
        height: 142px;
        width: 142px;
        position: absolute;
        text-align: center;
        color: #fff;
        align-items: center;
        border-radius: 50%;
        margin-top: 25%;
        z-index: 2;
    }
    .exp{
        width: 50%;
    }
    .num_circle p{
        font-size: 45px;
        margin-top: 32px;
        line-height: 20px;
        font-weight: 800;
    }
    .num_circle p span{
        font-size: 17px;
        line-height: 10px;
        font-weight: 600;
    }
    .big-number-circle{
        margin: 70px 40px;
    }
    .circle-img img{
        width: 60%;
        top: -100px;
        object-fit: cover;
        position: absolute;
        margin-left: -50px;
    }
    .invade{
        margin-top: 100px;
    }
    .note-on-Delivery button {
        margin-top: 75px;
    }
    .primary_banner,.primary_banner1{
        height: 50vh;
    }
    .exp img{
        object-fit: cover;
        width: 100%;
    }
    .Pck {
        margin-right: -30px;
        margin-left: 200px;
    }
    .washing-machine{
        margin: 80px 0;
        display: flex;
    }
    .content-upon-washing-machine {
        margin-right: 30px;
        position: absolute;
        width: 60%;
        height: auto;
        padding: 50px 50px;
    }
    .machine{
        position: relative;
        width: 50%;
        height: 70vh;
    }
    .machine img{
        height: 70vh;
        width: 100%;
        padding-bottom: 20px;
        object-fit: cover;
    }
    .machine3 img{
        height: 40vh;
        width: 100%;
        padding-bottom: 20px;
        object-fit: cover;
    }
    .changedirection{
        display: flex;
        flex-direction: row-reverse;
    }
    .change-absolute{
        position: absolute;
        left: 30px;
        margin-top: 70px;
    }
    .content-upon-washing-machine{
        margin-top: 50px;
    }
    .content-upon-washing-machine h1{
        font-size: 40px;
        font-weight: 600;
    }
    .content-upon-washing-machine p{
        font-size: 25px;
    }
    .video-text{
        display: flex;
    }
    .our-approach-div{
        width: 50%;
    }
    .video img{
        width: 90%;
        margin: 50px 50px;
        height: 350px;
    }
    .why-choose-us{
        width: 70%;
    }
    .price-tag-container{
        background-color: #fff;
        max-width: 310px;
        padding: 50px 20px;
        /* float: left; */
        margin: 50px auto;
        box-shadow: 0 10px 20px rgb(157 174 185 / 15%);
    }
}

@media(min-width: 1330px){
    .primary_banner,.primary_banner1{
        height: 90vh;
    }
    .exp img{
        width: 100%;
    }
    .exp{
        width: 50%;
    }
 
    .content-upon-washing-machine{
        background-color: #fff;
        padding: 20px 20px;
        height: 60vh;
        width: 40%;
        margin-top: 20px;
        right: 2px;
        position: absolute;
        padding-bottom: 10px;
    }
    .machine{
        position: relative;
        width: 55%;
        height: 130vh;
    }
    .machine img{
        height: 130vh;
        width: 100%;
        padding-bottom: 20px;
        object-fit: cover;
    }
  
    .machine3 img{
        height: 90vh;
        width: 100%;
        padding-bottom: 20px;
        object-fit: cover;
    }
    .content-upon-washing-machine {
        margin-right: 20px;
        position: absolute;
        width: 50%;
        height: auto;
        padding: 50px 60px;
    }
    .col-list1{
        margin-right: 50px;
    }
    .toggle-img img{
        width: 45%;
        height: 80vh;
    }
    .change-absolute{
        position: absolute;
        left: 40px;
        margin-top: 70px;
    }
    .delivery-bus img{
        object-fit: cover;
        width: 100%;
        padding-right: 90px;
        max-width: 600px;
    }


/* ===================
EVENTS AND PRESENSATION
======================*/


.events{
    display: flex;
    justify-content: center;
}
.events div{
    width: 100px;
    height: 100px;
    background-color: #900000;
    border-radius: 50%;
}
.event-text{
    width: 60%;
    margin: 0 20px;
}
.events h4{
    line-height: 25px;
    
}
.events p{
    line-height: 10px;
    color: #900000;
}

@media(max-width:768px){
    .events{
        display: block;
        justify-content: center;
    }
    .events div{
        width: 80px;
        height: 80px;
    }
}




    /* =========?=
    GOOGLE MAP
    =======?*/
    .map{
        margin-top: 40px;
        width: 100%;
        border: 0;
        height: 50vh;
    }
    .bus-info{
        text-align: left;
    }
    .bus-info h3{
        font-size: 32px;
        line-height: 40px;
        margin: 21px 0 0 0;
        /* max-width: 600px; */
        padding-bottom: 17px;
        font-weight: 700;
        color: #323232;
    }
    .bus-info h1{
        font-size: 23px;
        color: #323232;
        margin-top: 20px;
    }
    .bus-info p{
        font-size: 16px;
        width: 70%;
        color: #7b7b7b;
    }
    .bus-info h3 span{
        color: #52b765;
    }
}





@keyframes navLinkFade{
    from{
        opacity: 0;
        transform: translateX(50px);
    }
    to{
        opacity: 1;
        transform: translateX(0px);
    }
}

.toggle .line1{
    transform: rotate(-45deg) translate(-5px,6px);
}
.toggle .line2{
    opacity: 0;
    transition: 0.3s;
}
.toggle .line3{
    transform: rotate(45deg) translate(-5px,-6px);
}


@keyframes fade{
    from{
      transform: translateX(100%);
    }
    to{
      transform: translateX(0%);
    }
  }