Primary-color{
    primary--color: #52b765;
    brown-color: #7b7b7b;
    box-shadow: 0 10px 23px rgb(157 174 185 / 15%);
    box-shadow: 0 15px 20px rgb(0 0 0 / 5%);
    filter: linear-gradient(rgba(20, 20, 20, 0.0),rgba(0,0,0,0.5));

}



<!--JQUERY-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.js"></script>

    <!--OWL CAROUSEL-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.js"></script>
    <!--CUSTOM JAVASCRIPT-->
    <script>
        $(document).ready(function(){
            $(".owl-carousel").owlCarousel({
                
                loop: true,
                // nav: true,
                // dots:true,
                margin:10,
                autoplay: true,
                autoplaySpeed: 4000,
                smartSpeed: 2000,
                autoplayHoverPause: true,
                // responsive: {
                //     0:{
                //         item: 1,
                //         nav:false,
                //     },
                //     600:{
                //         item: 2,
                //         nav:false
                //     },
                //     1000:{
                //         item: 3,
                //         nav:false
                //     }
                // }
            })
        })

     
    </script>
